section{
	margin-right:auto;
	margin-left:auto;
	width:500px;
}
h1{
	text-align:center;
}
table{
	border-collapse : collapse;
	margin-right:auto;
	margin-left:auto;
}
table td{
	border-right: 1px solid;
	border-bottom: 1px solid;
	width:50px;
	height:50px;
	text-align:center;
}
table tr:last-child td{
	border-bottom: none;
	border-right: 1px solid;
}
table td:last-child{
	border-right: none;
	border-bottom: 1px solid;
}
table tr:last-child td:last-child{
	border-right: none;
}
.hideMark{
	display: none;
}
.cross{
	height: 30px;
	width:2px;
	background: blue;
	transform:rotate(-45deg);
	position:relative;
	margin-right:auto;
	margin-left:auto;
}
.cross::before{
	height: 30px;
	width:2px;
	background: blue;
	transform:rotate(90deg);
	position:absolute;
	content:""
}
.dot{
	color: red;
	font-size:30px;
}
.highlight{
	border:3px solid #4387fd !important;
}
#winner{
	width:300px;
	padding:50px;
	margin-right:auto;
	margin-left:auto;
	margin-top:50px;
	border:3px solid #ffff00;
	background:#ffffb2;
	text-align:center;
	font-weight:bold;
	vertical-align:middle;
}